---

- name: Get KLEE image from Docker Hub (this may take a while...)
  docker_image:
    name: klee/klee
    tag: latest
  when: not ci

  # todo: check if this is okay, or if I need to change python 2 in the virtualenv somewhere
- name: Install requirements for task runner
  pip: requirements={{ application_dir }}/requirements.txt executable=pip3
  become_user: worker

- name: Copy supervisor config file
  template: src=supervisor_worker.conf.j2 dest=/etc/supervisor/conf.d/worker.conf

- name: Reload supervisor configuration
  shell: supervisorctl reload
