

/* -------------
 *  Colors -----
 * ------------- */

// BG colors
$head-bg-color: #2f3540;
$current-files-bg-color: #2b2e32;
$sidebar-bg-color: #2f3133;
$line-nums-bg-color: #eeeeee;
$editor-header-bg-color: #f2f4f5;
$results-header-bg-color: #2d2f32;
$results-body-bg-color: #2f3133;

// Border colors
$head-border-color: #272e35;
$nav-border-color: #ececec;
$vertical-sep-border-color: #e9e9e9;
$current-files-border-color: #323538;
$upload-file-border-color: #323538;
$results-header-border-color: #363a3f;
$console-tab-border-color: #798896;

// Type colors
$dark-blue-header-color: #575c6f;
$off-white-body-color: #cecfd1;
$line-nums-color: #bebebe;
$console-tab-color: #6d757f;
$console-output-color: #718599;

// Button colors
$klee-opt-btn-bg-color: #6a6d78;
$run-klee-btn-bg-color: #4d5161;

// Icon colors
$dark-disabled-color: #414245;
$dark-active-color: #664f8f;

/* -------------
 *  Type ------- 
 * ------------- */

$heading-font: 'Open Sans', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif;
$body-font: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif;
$monospace-font: 'Cousine', 'Source Code Pro', 'Monaco', 'Menlo', sans-serif;

/* -------------
 *  Measurements 
 * ------------- */

$topbar-height: 70px;
$sidebar-width: 250px;

$border-width: 1px;

$k-btn-height: 36px;








