// Import bootstrap
@import "bootstrap-custom";

// Import variables
@import "variables";

html, 
body,
.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

body {
	font-family: $body-font;
	font-weight: 300;
	letter-spacing: 0.6px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-family: $heading-font;
}

a {
	@include transition(color 0.2s ease-out);

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		@include transition(color 0.2s ease-in-out);
	}
}

body .k-btn {
	border-radius: 3px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 600;
	height: $k-btn-height;
	padding: 5px 5px;
	font-family: $heading-font;
	font-size: 0.85em;
	letter-spacing: 0.9px;
	@include transition(background-color 0.2s ease-out);

	&:hover,
	&:focus,
	&:active {
		color: #FFF;
		@include transition(background-color 0.2s ease-in-out);
	}
}

body {
	pre, code {
		font-family: $monospace-font;
	}
}



