body {
  min-height: 2000px;
  padding-top: 70px;
}

.CodeMirror.cm-s-default.CodeMirror-wrap {
	height: 200px;
}  

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
.ng-enter,
.ng-leave { 
    transition:0.5s all ease; 
    -moz-transition:0.5s all ease; 
    -webkit-transition:0.5s all ease; 
}
    
/* enter animation */
.ng-enter {
    -webkit-animation:fadeIn 0.8s both ease 0.3s;
    -moz-animation:fadeIn 0.8s both ease 0.3s;
    animation:fadeIn 0.8s both ease 0.3s; 
}

/* leave animation */
.ng-leave { 
    -webkit-animation:fadeOut 0.3s both ease;
    -moz-animation:fadeOut 0.3s both ease;
    animation:fadeOut 0.3s both ease;   
}