{% extends "klee_web/base.html" %}

{% block title %}KLEE{% endblock %}

{% block css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.6.0/codemirror.min.css
" rel="stylesheet">
{% endblock %}

{% block content %}
<div ng-app="app">

  <div ng-controller="MainCtrl">

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">Progress</div>
            <div class="panel-body">
              <p class="label label-success" ng-repeat="step in progress" style="display: block; padding-top: 8px; padding-bottom: 8px;" ng-cloak>[[ step ]]</p>
            </div>
          </div>
          <div class="panel panel-default" ng-if="result | isNotEmpty" ng-cloak>
            <div class="panel-heading">Result</div>
            <div class="panel-body">
              <span ng-if="result.url | isNotEmpty">
                  <p>You can pick up your analysed output here:</p>
                  <p><a ng-href="[[ result.url ]]">[[ result.url ]]</a></p>
              </span>
              <br />
              <p><strong>Output</strong>:</p>
              <pre>[[ result.output ]]</pre>
            </div>
          </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Submit a KLEE Job</div>
                <div class="panel-body">
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                    <form ng-submit="processForm(submission)" enctype="multipart/form-data"
                          class="{% if messages %} has-error {% endif %}" ng-cloak>
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="{{ form.code.id }}">Code:</label>

                            <ui-codemirror ng-model="submission.code" ui-codemirror-opts="editorOptions"></ui-codemirror>

                            {{ form.code.errors }}
                        </div>

                        <div class="row">
                          <div class="form-group col-sm-6">
                              <label for="{{ form.file.id }}">File upload
                                  (optional):</label>
                              <input name="{{ form.file.name }}"
                                    ng-model="submission.file"
                                    id="{{ form.file.id_for_label }}"
                                    class="form-control" type="file">
                              {{ form.file.errors }}

                          </div>

                          <div class="form-group col-sm-6">
                              <label for="{{ form.args.id }}">Program arguments
                                  (Optional)</label>
                              <input type="text" class="form-control"
                                     id="{{ form.args.id_for_label }}"
                                     name="{{ form.args.name }}"
                                     ng-model="submission.args"
                                     placeholder="Enter any extra arguments to pass to KLEE.">
                              {{ form.args.errors }}
                          </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.email.id }}">Email (Optional)
                                address</label>
                            <input type="email" class="form-control"
                                   id="{{ form.email.id_for_label }}"
                                   name="{{ form.email.name }}"
                                   ng-model="submission.email"
                                   placeholder="Enter email">
                            {{ form.email.errors }}
                        </div>

                        <input type="submit" value="Submit Job"
                               class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>

  </div>

</div>

{% endblock %}

{% block javascript %}
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular.pusher/latest/pusher-angular.min.js"></script>
    <script src="/static/klee_web/js/vendor/ui-codemirror.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.6.0/codemirror.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.6.0/mode/clike/clike.min.js"></script>

    <script type="text/javascript">
      window.pclient = new Pusher('19744474b2493510f861');
    </script>
    <script src="/static/klee_web/js/app.js"></script>
{% endblock %}