[program:worker]
command={{ python_runner }} {{ worker_virtualenv }}/bin/celery -A worker.worker worker
directory={{ application_dir }}
autostart=true
autorestart=true
stdout_logfile={{ worker_log_dir }}/worker.log
redirect_stderr=true
user=worker
stopsignal=QUIT
environment={{ 'CELERYD_FSNOTIFY="stat"' if development else ''}}