[program:worker]
command=/worker_data/env/bin/celery -A worker worker {{ "--autoreload" if development else ""}}
directory=/titb/python/worker/
autostart=true
autorestart=true
stdout_logfile=/worker_data/logs/celery_worker.log
redirect_stderr=true
user=worker
stopsignal=QUIT
environment=BROKER_URL="{{ rabbitmq_broker_url }}"{{ ',DEVELOPMENT="1",CELERYD_FSNOTIFY="stat"' if development else ''}}