---
- include: django_build.yml
  tags: ["build", "build_django"]
- include: django_deploy.yml
  tags: ["deploy_container"]
- include: nginx_build.yml
  tags: ["build", "build_nginx"]
- include: nginx_deploy.yml
  tags: ["deploy_container"]
