PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
RABBITMQ_HOST={{ rabbitmq_host }}
RABBITMQ_USERNAME={{ rabbitmq_user }}
RABBITMQ_PASSWORD={{ rabbitmq_password }}
RABBITMQ_VHOST={{ rabbitmq_vhost }}