{% extends "frontend/base.html" %}

{% block title %}KLEE{% endblock %}

{% block css %}
    <link href="{{dist}}css/vendor/codemirror/codemirror.css" rel="stylesheet">
    <link href="{{dist}}css/vendor/codemirror/theme/neo.css" rel="stylesheet">
    <link href="{{dist}}css/vendor/jquery-ui.min.css" rel="stylesheet">
    <link href="{{dist}}css/ide.css" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="wrapper" ng-controller="MainCtrl">
    
    <!-- Sidebar -->
    <section class="sidebar">
      <header>
        <div class="project-selector">
          <select ng-model="selectedExample"
            ng-hide="!examples"
            ng-options="key for key in exampleKeys"
            ng-change="changeExample()">
          </select>
        </div>
      </header>

      <div class="current-file">
        <header>
          <h3>Current file</h3>
        </header>
        <p><i class="icon_document_alt"></i> main.c</p>
      </div>

      <div class="available-files">
        <div class="add-file">
          <p>
            <a href="#">
              <i class="icon_plus"></i> Add file...
            </a> 
          </p>  
        </div>
        
        <ul class="files">
          <li>
            <a href="#">
              <i class="icon_document_alt"></i> badmalloc.c
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon_document_alt"></i> doublefree.c
            </a>
          </li>
        </ul>
      </div>

      <div class="upload-file">
        <h3>
          <a href="#">
            Upload File 
            <i class="icon_cloud-upload_alt"></i>
          </a>
        </h3>
      </div>
    </section>

    <!-- Main container -->
    <div class="content">
      <nav class="topbar">
        <header>
          <div class="login-area">
            <a href="#">Login</a>
          </div>
          <img src="" />
        </header>
      </nav>

      <div class="content-inner">

        <form ng-submit="processForm(submission)"
          enctype="multipart/form-data"
          class="editor {% if messages %} has-error {% endif %}"
          ng-cloak>
          {% csrf_token %}
          
          <header>
            <div class="options-btn btn-group" dropdown>
              <button type="button" class="btn k-btn">Sym-Args</button>
              <button type="button" class="btn k-btn dropdown-toggle" dropdown-toggle>
                <i class="arrow_triangle-down"></i>
                <span class="sr-only">Split button!</span>
              </button>
              <div class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
                <header>
                  <h4>Symbolic arguments</h4>
                  <p><small>Very brief explanation of how to use symbolic arguments.</small></p>
                </header>

                <div class="form-group" ng-show="!stdinArgs">
                  <button ng-click="stdinArgs = true" type="button" class="btn k-btn enable">
                    Enable Sym-Args <i class="icon_check"></i>
                  </button>
                </div>

                <div class="form-group" ng-show="stdinArgs">
                  <label>No. of symbolic args</label>
                  <div class="args-slider"> 
                    <div class="slider-inner">  
                      <div ui-slider="{range: true}" min="0" max="9" step="1"ng-model="submission.args.stdinArgs.range"></div>
                    </div>
                    <div class="units">
                      <span class="min">0<br/>Min</span>
                      <span class="max">9<br/>Max</span>
                    </div>
                  </div>
                </div>

                <div class="form-group" ng-show="stdinArgs">
                  <label>Arg Size</label>
                  <input type="text" ng-model="submission.args.stdinArgs.size" class="form-control" />
                </div>

                <div class="form-group" ng-show="stdinArgs">
                  <button ng-click="resetSymArgs()" type="button" class="btn k-btn disable">
                    Disable Sym-Args <i class="icon_close"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="options-btn btn-group" dropdown>
              <button type="button" class="btn k-btn">Sym-Files</button>
              <button type="button" class="btn k-btn dropdown-toggle" dropdown-toggle>
                <i class="arrow_triangle-down"></i>
                <span class="sr-only">Split button!</span>
              </button>
              <div class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
                <header>
                  <h4>Symbolic Files</h4>
                  <p><small>Very brief explanation of how to use symbolic files.</small></p>
                </header>

                <div class="form-group" ng-show="!submission.args.stdin_enabled">
                  <button ng-click="submission.args.stdin_enabled = true" type="button" class="btn k-btn enable">
                    Enable Sym-Files <i class="icon_check"></i>
                  </button>
                </div>

                <div class="form-group" ng-show="submission.args.stdin_enabled">
                  <label>No. of symbolic files</label>
                  <div class="args-slider"> 
                    <div class="slider-inner">  
                      <div ui-slider="{range: false}" min="0" max="9" step="1"ng-model="submission.args.numFiles"></div>
                    </div>
                    <div class="units">
                      <span class="min">0<br/>Min</span>
                      <span class="max">9<br/>Max</span>
                    </div>
                  </div>
                </div>

                <div class="form-group" ng-show="submission.args.stdin_enabled">
                  <label>File Size</label>
                  <input type="text" ng-model="submission.args.sizeFiles" class="form-control" />
                </div>

                <div class="form-group" ng-show="submission.args.stdin_enabled">
                  <button ng-click="submission.args.stdin_enabled = false" type="button" class="btn k-btn disable">
                    Disable Sym-Files <i class="icon_close"></i>
                  </button>
                </div>
              </div>
            </div>

            <button ng-click="submission.args.coverage_enabled = true" type="button" class="btn k-btn">Coverage</button>

              <button type="submit" class="btn k-btn run-klee-btn">
              <i class="arrow_triangle-right"></i> <span>Run Klee</span>
            </button>
          </header>
            
          <ui-codemirror id="codemirror"
            ng-model="submission.code"
            ui-codemirror-opts="editorOptions"></ui-codemirror>
      
          {{ form.code.errors }}

        </form>

        <div class="results" ng-cloak>
          <header>
            <h3>KLEE Results</h3>

            <div class="download action-box" ng-class="{'active': result.url, 'flash-color': result.url}">
              <a href="#" ng-href="[[ result.url ]]">
                <i class="icon_cloud-download_alt"></i>
              </a>
            </div>

            <div class="email action-box">
              <a href="#">
                <i class="icon_mail_alt"></i>
              </a>
            </div>

          </header>

          <div class="results-inner" ng-controller="ResultTabsCtrl">
            <header>
              <nav class="tabs">
                <ul>
                  <li ng-class="{active: tabs.output.active}">
                    <a href="#" ng-click="setTab('output')">Output</a>
                  </li>
                  <li ng-class="{active: tabs.coverage.active}">
                    <a href="#" ng-click="setTab('coverage')">Coverage</a>
                  </li>
                </ul>
              </nav>
            </header>

            <div class="results-body">
              <div class="tab-body">

                <div class="tab-content-inner klee-output" ng-show="tabs.output.active">
                  <pre class="progress-step" ng-repeat="step in progress track by $index" ng-cloak>[[ step ]]</pre>
                  <pre>[[ result.output ]]</pre>
                </div>

                <div class="tab-content-inner klee-coverage" ng-show="tabs.coverage.active">
                  <pre> [[ linePercentage ]]% of lines covered. </pre>
                  <div ui-codemirror="{ onLoad : codemirrorLoaded }" ></div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

{% endblock %}

{% block javascript %}
    <script src="{{dist}}js/vendor/angular-custom.min.js"></script>
    <script src="{{dist}}js/vendor/pusher-with-angular.min.js"></script>
    <script src="{{dist}}js/vendor/codemirror.min.js"></script>
    <script src="{{dist}}js/vendor/ui-codemirror.min.js"></script>
    <script src="{{dist}}js/vendor/angular-bootstrap.min.js"></script>
    <script src="{{dist}}js/vendor/jquery-ui.min.js"></script>
    <script src="{{dist}}js/vendor/angular-ui-slider.min.js"></script>

    <script type="text/javascript">
        window.pclient = new Pusher('19744474b2493510f861');
    </script>
    <script src="{{dist}}js/app.min.js"></script>
{% endblock %}
