{% extends "frontend/base.html" %}

{% block title %}KLEE{% endblock %}

{% block css %}
    <link href="{{dist}}css/vendor/codemirror/codemirror.css" rel="stylesheet">
    <link href="{{dist}}css/vendor/codemirror/theme/neo.css" rel="stylesheet">
    <link href="{{dist}}css/ide.css" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="wrapper" ng-controller="MainCtrl">
    
    <!-- Sidebar -->
    <section class="sidebar">
      <header>

      </header>

      <div class="current-file">
        <header>
          <h3>Current file</h3>
        </header>
        <p><i class="icon_document_alt"></i> main.c</p>
      </div>

      <div class="available-files">
        <div class="add-file">
          <p>
            <a href="#">
              <i class="icon_plus"></i> Add file...
            </a> 
          </p>  
        </div>
        
        <ul class="files">
          <li>
            <a href="#">
              <i class="icon_document_alt"></i> badmalloc.c
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon_document_alt"></i> doublefree.c
            </a>
          </li>
        </ul>
      </div>

      <div class="upload-file">
        <h3>
          <a href="#">
            Upload File 
            <i class="icon_cloud-upload_alt"></i>
          </a>
        </h3>
      </div>
    </section>

    <!-- Main container -->
    <div class="content">
      <nav class="topbar">
        <header>
          <div class="login-area">
            <a href="#">Login</a>
          </div>
          <img src="" />
        </header>
      </nav>

      <div class="content-inner">

          <form ng-submit="processForm(submission)"
            enctype="multipart/form-data"
            class="{% if messages %} has-error {% endif %}"
            ng-cloak>
            {% csrf_token %}
            
            <div class="editor">
              <header>
                <button ng-click="processForm(submission)" class="btn k-btn run-klee-btn">
                  <i class="arrow_triangle-right"></i> <span>Run Klee</span>
                </button>
              </header>
                
              <ui-codemirror id="codemirror"
                ng-model="submission.code"
                ui-codemirror-opts="editorOptions"></ui-codemirror>
          
              {{ form.code.errors }}

            </div>
          </form>

          <div class="results">
            <header>
              <h3>KLEE Results</h3>

              <div class="download action-box">
                <a href="#">
                  <i class="icon_cloud-download_alt"></i>
                </a>
              </div>

              <div class="email action-box">
                <a href="#">
                  <i class="icon_mail_alt"></i>
                </a>
              </div>

            </header>

            <div class="results-inner">
              <header>
                <nav class="tabs">
                  <ul>
                    <li class="active">
                      <a href="#">Output</a>
                    </li>
                    <li>
                      <a href="#">Coverage</a>
                    </li>
                  </ul>
                </nav>
              </header>

              <div class="klee-output">
                <!-- <pre>
KLEE: output directory is "/code/klee-out-0"
KLEE: WARNING: undefined reference to function: printf
KLEE: WARNING ONCE: calling external: printf(29297344)
Hello world

KLEE: done: total instructions = 8
KLEE: done: completed paths = 1
KLEE: done: generated tests = 1
                </pre> -->
                <pre class="progress-step" ng-repeat="step in progress" ng-cloak>[[ step ]]</pre>
                <pre>[[ result.output ]]</pre>
              </div>

            </div>
          </div>

      </div>
    </div>

  </div>


    <!-- Real content -->
    <!-- <div ng-app="app">

        <div ng-controller="MainCtrl">

            <div class="col-md-4">
                <div class="panel panel-default" id="main-panel">
                    <div class="panel-heading">Progress</div>
                    <div class="panel-body">
                        <p class="label label-success"
                           ng-repeat="step in progress"
                           style="display: block; padding-top: 8px; padding-bottom: 8px;"
                           ng-cloak>[[ step ]]</p>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="nav nav-tabs col-md-8">
                            <li role="presentation" ng-class="{'active': views.main}">
                                <a ng-click="switchTab('main')">Submit a KLEE Job</a>
                            </li>
                            <li role="presentation" ng-if="result | isNotEmpty "
                                ng-class="{'active': views.results}" id="result-tab" ng-cloak>
                                <a ng-click="switchTab('results')">View run results</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <select name="" id="" class="form-control" ng-model="selected"
                                ng-hide="!examples"
                                ng-options="key for key in exampleKeys"
                                ng-change="change()">
                        </select>
                    </div>
                </div>

                <div class="panel-body" ng-show="views.main">
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                    <form ng-submit="processForm(submission)"
                          enctype="multipart/form-data"
                          class="{% if messages %} has-error {% endif %}"
                          ng-cloak>
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="{{ form.code.id_for_label }}">Code:</label>

                            <ui-codemirror id="codemirror"
                                           ng-model="submission.code"
                                           ui-codemirror-opts="editorOptions"></ui-codemirror>

                            {{ form.code.errors }}
                        </div>

                        <div class="row">
                          <div class="form-group col-sm-6">
                              <label for="{{ form.file.id_for_label }}">File upload
                                  (optional):</label>
                              <input name="{{ form.file.name }}"
                                    ng-model="submission.file"
                                    id="{{ form.file.id_for_label }}"
                                    class="form-control" type="file">
                              {{ form.file.errors }}

                          </div>
                            <div class="form-group col-sm-6">
                              <label for="{{ form.min_stdin_args.id_for_label }}">
                                Additional arguments (Optional):
                              </label>
                              <!--<ul style="list-style: none;">-->
                              <!-- <ul>
                                <span ng-hide="!stdinArgs" class="ng-hide">
                                  <li>
                                    <label for="{{ form.min_stdin_args.id_for_label }}">
                                      Minimum number of standard arguments
                                    </label>
                                    <select class="form-control"
                                            id="{{ form.min_stdin_args.id_for_label }}"
                                            name="{{ form.min_stdin_args.name }}"
                                            ng-model="submission.args.minStdinArgs"
                                            placeholder=0>
                                      {% for id, name in form.min_stdin_args.field.choices %}
                                        <option value="{{ id }}"> {{ name }} </option>
                                      {% endfor %}
                                    </select>
                                    {{ form.min_stdin_args.errors }}
                                  </li>
                                  <li>
                                    <label for="{{ form.max_stdin_args.id_for_label }}">
                                      Maximum number of standard arguments
                                    </label>
                                    <select class="form-control"
                                            id="{{ form.max_stdin_args.id_for_label }}"
                                            name="{{ form.max_stdin_args.name }}"
                                            ng-model="submission.args.maxStdinArgs"
                                            placeholder=0>
                                      {% for id, name in form.max_stdin_args.field.choices %}
                                        <option value="{{ id }}"> {{ name }} </option>
                                      {% endfor %}
                                    </select>
                                    {{ form.max_stdin_args.errors }}
                                  </li>
                                  <li>
                                    <label for="{{ form.size_stdin_args.id_for_label }}">
                                      Size of standard arguments
                                    </label>
                                    <input type="number"
                                           class="form-control"
                                           id="{{ form.size_stdin_args.id_for_label }}"
                                           name="{{ form.size_stdin_args.name }}"
                                           ng-model="submission.args.sizeStdinArgs"
                                           min="{{ form.size_stdin_args.field.min_value }}"
                                           placeholder=0>
                                    <a href ng-click="resetStdin()">Delete</a>
                                  </li>
                                </span>
                                <li ng-hide="stdinArgs"
                                    class="ng-hide">
                                  <a href ng-click="stdinArgs = true">
                                    Add symbolic arguments
                                  </a>
                                  {{ form.size_stdin_args.errors }}
                                </li>
                                <li>
                                <input type="checkbox"
                                       ng-model="submission.args.stdin_enabled">
                                Enable symbolic stdin
                                </li>
                                <span ng-show="submission.args.stdin_enabled" class="ng-show">
                                  <li>
                                    <label for="{{ form.num_files.id_for_label }}">
                                      Number of symbolic files
                                    </label>
                                    <select class="form-control"
                                          id="{{ form.num_files.id_for_label }}"
                                          name="{{ form.num_files.name }}"
                                          ng-model="submission.args.numFiles"
                                          ng-init="submission.args.numFiles = 0"
                                          placeholder=0>
                                      {% for id, name in form.max_stdin_args.field.choices %}
                                        <option value="{{ id }}"> {{ name }} </option>
                                      {% endfor %}
                                    </select>
                                    {{ form.num_files.errors }}
                                  </li>
                                  <li>
                                    <label for="{{ form.size_files.id_for_label }}">
                                      Size of symbolic files
                                    </label>
                                    <input type="number"
                                           class="form-control"
                                           id="{{ form.size_files.id_for_label }}"
                                           name="{{ form.size_files.name }}"
                                           ng-model="submission.args.sizeFiles"
                                           ng-init="submission.args.sizeFiles = 0"
                                           min="{{ form.size_files.field.min_value }}">
                                    {{ form.size_files.errors }}
                                  </li>
                                </span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}">Email
                                (Optional)
                                address</label>
                            <input type="email" class="form-control"
                                   id="{{ form.email.id_for_label }}"
                                   name="{{ form.email.name }}"
                                   ng-model="submission.email"
                                   placeholder="Enter email">
                            {{ form.email.errors }}
                        </div>

                        <input type="submit" value="Submit Job"
                               class="btn btn-primary" id="submit-job"/>
                    </form>
                </div>

                <div class="panel-body" ng-show="views.results" ng-cloak>
                    <h3>Run Results</h3>

                    <div ng-if="result.url | isNotEmpty">
                        <p>You can pick up your analysed output here:</p>

                        <p><a ng-href="[[ result.url ]]">[[ result.url ]]</a>
                        </p>
                    </div>

                    <pre id="result-output">[[ result.output ]]</pre>


                    <div ng-if="result.failing | isNotEmpty">
                        <h3>Failing tests</h3>

                        <div class="panel panel-danger" ng-repeat="fail in result.failing">
                            <div class="panel-heading">
                                <h3 class="panel-title">[[ fail.reason ]]</h3>
                            </div>
                            <div class="panel-body">
                                <strong>Line [[ fail.line_no ]]:</strong>
                                <pre>[[  fail.line ]]</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div> -->
    <!-- end of content -->

{% endblock %}

{% block javascript %}
    <script src="{{dist}}js/vendor/angular-custom.min.js"></script>
    <script src="{{dist}}js/vendor/pusher-with-angular.min.js"></script>
    <script src="{{dist}}js/vendor/codemirror.min.js"></script>
    <script src="{{dist}}js/vendor/ui-codemirror.min.js"></script>

    <script type="text/javascript">
        window.pclient = new Pusher('19744474b2493510f861');
    </script>
    <script src="{{dist}}js/app.min.js"></script>
{% endblock %}
