{% extends "control_panel/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form role="form" method="post"
      action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <div class="form-group">
        {{ form.username.label_tag }}
        <input type="text" class="form-control"
               id="{{ form.username.label_id }}"
               name="{{ form.username.name }}" placeholder="Enter username">
    </div>
    <div class="form-group">
        {{ form.password.label_tag }}
        <input type="password" class="form-control"
               id="{{ form.password.label_id }}"
               name="{{ form.password.name }}" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <input type="hidden" name="next" value="{{ next }}"/>

</form>

{% endblock %}
