django<1.11
uWSGI==2.0.13.1
celery==3.1.23
boto==2.42.0
requests==2.10.0
psycopg2==2.6.2
redis==2.10.5
fakeredis==0.7.0
django-bootstrap-form
gcovparse
djangorestframework==3.4.1
drf-nested-routers==0.11.1
djangorestframework-camel-case
