django<1.11
uWSGI
celery==3.1.23
boto
requests
psycopg2
redis
fakeredis
django-bootstrap-form
gcovparse
djangorestframework==3.4.1
drf-nested-routers==0.11.1
djangorestframework-camel-case
geoip2
social-auth-app-django
django-rest-framework-social-oauth2
django-oauth-toolkit==1.1.2
