export REDIS_HOST={{ redis_host }}
export REDIS_DB_NUMBER={{ redis_db_number }}
export REDIS_PORT={{ redis_port }}
export MAIN_WEBPAGE={{ main_webpage }}

export CELERY_BROKER_URL={{ celery_broker_url }}

export DB_USER={{ db_user }}
export DB_PASSWORD={{ db_password }}
export DB_HOST={{ db_host }}
export DB_PORT={{ db_port }}
export DB_NAME={{ db_name }}
export DEVELOPMENT=1
export PYTHONPATH="/titb/"
