{% extends "control_panel/base.html" %}
{% load bootstrap %}

{% block title %}KLEE Web Admin{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete the example "{{ object }}"?</p>
        <a href="{% url 'control_panel:example_list' %}"
           role="button"
           class="btn btn-primary">
            Cancel
        </a>
        <input type="submit" class="btn btn-danger" value="Confirm"/>
    </form>
{% endblock %}