.editor {
	background-color: #FFF;

	&> header {
		padding-left: 20px;
		background-color: $editor-header-bg-color;
		border-bottom: $border-width solid $nav-border-color;

		.options-btn,
		.run-klee-btn {
			margin-top: ($topbar-height - $k-btn-height) / 2;
		}

		.options-btn {
			margin-right: 10px;

			.k-btn {
				background-color: $klee-opt-btn-bg-color;
				padding-left: 15px;
				padding-right: 8px;
				font-size: 0.72em;

				&.dropdown-toggle {
					background-color: darken($klee-opt-btn-bg-color, 5%);
					padding-left: 0;
					padding-right: 5px;
					text-align: center;

					i {
						font-size: 1.3em;
					}
				}

				&.coverage-btn {
					i {
						padding-left: 6px;
						padding-right: 8px;
						font-size: 1.4em;
					}
				}

			}

			i {
				position: relative;
				top: 2px;
				padding-left: 5px;
				font-size: 1.4em;
			}
			
			.dropdown-menu {
				background-color: #FFF;
				width: $klee-opt-dropdown-width;
				padding: 10px 20px;

				&> header {
					padding: 10px 0;
					margin-bottom: 10px;
					border-bottom: 1px solid $vertical-sep-border-color;

					h4 {
						text-transform: uppercase;
						font-weight: 700;
						font-size: 1em;
						color: $dark-blue-header-color;
						margin-bottom: 10px;
					}

					p small {
						color: darken($line-nums-color, 10%);
					}
				}

				.enable,
				.disable {
					padding-right: 12px;

					i {
						top: 2px;
						font-size: 1.4em;
						margin-left: 10px;
					}
				}

				.form-group {
					width: 100%;
					float: left;
					padding-top: 5px;

					label {
						font-size: 0.95em;
						font-weight: 600;
						letter-spacing: 0.5px;
						margin-bottom: 10px;
					}
				}

				.args-slider {
					width: 100%;
					float: left;

					.slider-inner {
						padding: 5px 5px;
					}

					.units {
						float: left;
						width: 100%;
						text-align: center;

						.min, .max {
							font-weight: 600;
							font-size: 0.9em;
						}

						.min {
							float: left;
						}

						.max {
							float: right;
							text-align: right;
							padding-right: 2px;
						}
					}

					.ui-widget-content {
						border-color: $vertical-sep-border-color;
					}

					.ui-slider {
						.ui-slider-handle {
							border: none;
							border-radius: 3px;
							background: $dark-blue-header-color;
							width: 0.8em;
							margin-left: -0.4em;

							&:hover {
								cursor: pointer;
							}

							&:focus,
							&:active {
								outline: 0;
							}
						}

						.ui-slider-range {
							background-color: $console-tab-color;
						}
					}
				}
			}
		}

		.run-klee-btn {
			float: right;
			width: 125px;
			margin-right: 20px;
			background-color: $run-klee-btn-bg-color;
			
			i {
				position: relative;
				top: 1px;
				left: -2px;
				font-size: 1.6em;
				margin-right: 5px;
			}

			span {
				position: relative;
				top: -3px;
			}

			&:hover {
				background-color: lighten($run-klee-btn-bg-color, 5%);
			}
		}
	}

	.CodeMirror {
		margin-top: - $topbar-height;
		padding-top: $topbar-height + 20px;
		height: 100%;

		.CodeMirror-gutters {
			// background-color: $line-nums-bg-color;
		}

		.CodeMirror-gutter {
			width: 40px;
		}

		.CodeMirror-linenumber {
			padding-right: 10px;
			color: $line-nums-color;
		}
	}
}