.results {
	background-color: $results-body-bg-color;
	border-left: $border-width solid $vertical-sep-border-color;

	&> header {
		display: table;
		background-color: $results-header-bg-color;
		border-bottom: $border-width solid $results-header-border-color;
		
		h3 {
			padding-top: 28px;
			padding-left: 30px;
			float: left;
			vertical-align: middle;
			font-size: 1.1em;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.8px;
			color: $dark-blue-header-color;
		}

		.action-box {
			float: right;
			height: $topbar-height;
			width: $topbar-height;
			border-left: $border-width solid $results-header-border-color;
			display: table;

			a {
				width: 100%;
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				color: $dark-active-color;
				font-size: 1.5em;

				&:hover {
					color: #FFF;
				}
			}

			&.download {
				a { 
					padding-top: 5px;
				}
			}
		}
	}
}

.results .results-inner {
	height: 100%;
	margin-top: - $topbar-height;
	padding-top: $topbar-height;

	&> header {
		width: 100%;
		height: $topbar-height;
		background-color: $results-body-bg-color;
		border-bottom: $border-width solid $results-header-border-color;
	
		.tabs {
			float: left;
			width: 100%;
			height: 100%;

			ul {
				float: left;
				width: 100%;
				padding-left: 20px;
				margin-top: ($topbar-height - 30px) / 2;

				li {
					float: left;
					margin: 0 10px;
					height: 30px;
					padding: 0 15px;
					border-radius: 3px;
					border: $border-width solid transparent;
					text-align: center;
					font-size: 0.82em;
					font-weight: 700;
					text-transform: uppercase;
					display: table;

					a {
						display: table-cell;
						vertical-align: middle;
						color: $console-tab-color;
					}

					&.active {
						border-color: $console-tab-border-color;
						
						&:hover {
							a { color: $console-tab-color; }
						}
					}

					&:hover {
						a { color: #FFF; }
					}
				}
			}
		}
	}

	.results-body {
		height: 100%;
		margin-top: - $topbar-height;
		padding-top: $topbar-height;
	}

	.klee-output {
		height: 100%;
		width: 100%;
		padding-top: 30px;
		overflow-y: auto;

		pre {
			background: none;
			border: none;
			border-radius: 0;
			padding: 35px 40px;
			color: $console-output-color;

			&.progress-step {
				padding: 0 40px;
				color: $console-tab-color;
			}
		}
	}
}
