local   all             all                                     peer
host    all             all             127.0.0.1/32            md5

{% if 'webservers' in groups %}
    {% for host in groups['webservers'] %}
host    all             all             {{ hostvars[host]['ansible_' + iface].ipv4.address }}/32          md5
    {% endfor %}
{% endif %}

{% if 'workers' in groups %}
    {% for host in groups['workers'] %}
host    all             all             {{ hostvars[host]['ansible_' + iface].ipv4.address }}/32          md5
    {% endfor %}
{% endif %}
